Enviar (tradução) - manual-jv1Nb4YLh157EKYf.json
{
  "updatedAt": "2025-12-02T20:06:02.263Z",
  "createdAt": "2025-04-24T13:19:52.814Z",
  "id": "jv1Nb4YLh157EKYf",
  "name": "Enviar (tradução) - manual",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "delimiter": ";",
          "fileName": "products_linked.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        128,
        -848
      ],
      "id": "ca56bbb5-cbe7-40d3-90cf-54a339d432ef",
      "name": "Converter para CSV1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \npl.ean as ean,\npl.prodl_unit_id as unit_id,\npl.prodl_prod_id as product_id\nFROM productslinked pl\nwhere pl.ean is not null\nand pl.ean<> \"\" and pl.prodl_unit_id in ({{ $input.all().map(item => item.json.id).join(',') }})\ngroup by ean,unit_id,product_id",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -96,
        -848
      ],
      "id": "14c31616-c8c4-413a-8025-1ad4ecf57cf4",
      "name": "Buscar Produtos Vinculados",
      "executeOnce": true,
      "credentials": {
        "mySql": {
          "id": "vJXa18SJcADLCV1n",
          "name": "Conexus"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = [\n  { \"id\": 32, \"otherId\": 4945 },\n  { \"id\": 94, \"otherId\": 5290 },\n  { \"id\": 47, \"otherId\": 5273 },\n  { \"id\": 86, \"otherId\": 5265 },\n  { \"id\": 96, \"otherId\": 5289 },\n  { \"id\": 33, \"otherId\": 5270 },\n  { \"id\": 14, \"otherId\": 5264 },\n  { \"id\": 26, \"otherId\": 5288 },\n  { \"id\": 45, \"otherId\": 5287 },\n  { \"id\": 35, \"otherId\": 5267 },\n  { \"id\": 5, \"otherId\": 5281 },\n  { \"id\": 60, \"otherId\": 5269 },\n  { \"id\": 85, \"otherId\": 4946 },\n  { \"id\": 8, \"otherId\": 4948 },\n  { \"id\": 53, \"otherId\": 5272 },\n  { \"id\": 11, \"otherId\": 5263 },\n  { \"id\": 22, \"otherId\": 5279 },\n  { \"id\": 24, \"otherId\": 5286 },\n  { \"id\": 29, \"otherId\": 5285 },\n  { \"id\": 31, \"otherId\": 5268 },\n  { \"id\": 23, \"otherId\": 5280 },\n  { \"id\": 90, \"otherId\": 5276 },\n  { \"id\": 36, \"otherId\": 4944 },\n  { \"id\": 76, \"otherId\": 5271 },\n  { \"id\": 83, \"otherId\": 5296 },\n  { \"id\": 84, \"otherId\": 5275 },\n  { \"id\": 25, \"otherId\": 5274 },\n  { \"id\": 56, \"otherId\": 4947 },\n  { \"id\": 21, \"otherId\": 4950 },\n  { \"id\": 93, \"otherId\": 5278 },\n  { \"id\": 30, \"otherId\": 4949 },\n  { \"id\": 12, \"otherId\": 5266 },\n  { \"id\": 105, \"otherId\": 5657 },\n  { \"id\": 107, \"otherId\": 5771 },\n  { \"id\": 109, \"otherId\": 5671 },\n  { \"id\": 64, \"otherId\": 5778 },\n  { \"id\": 97, \"otherId\": 5802 },\n    { \"id\": 98, \"otherId\": 5803 },\n  { \"id\": 99, \"otherId\": 5804 },\n  { \"id\": 100, \"otherId\": 5805 },\n  { \"id\": 108, \"otherId\":5773}\n];\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -848
      ],
      "id": "15f7b120-a345-4e24-a910-ad86d5331bde",
      "name": "Code",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        128,
        -336
      ],
      "id": "d41ea96a-c701-43aa-b899-9c1e1dfb9332",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -96,
        -432
      ],
      "id": "7ea32323-af2d-4b24-b2ce-300925a090b5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -96,
        -224
      ],
      "id": "c4fddfcc-6e4e-4b6b-9ebf-4f8f5bf23633",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "jsCode": "const yesterdayFile = $input.all()[0].json.data;\nconst todayFile = $input.all()[1].json.data;\n\nconst dataYesterday = new Map();\nconst differentItems = [];\nconst newItems = [];\n\nconst data = [\n  { \"id\": 32, \"otherId\": 4945 },\n  { \"id\": 94, \"otherId\": 5290 },\n  { \"id\": 47, \"otherId\": 5273 },\n  { \"id\": 86, \"otherId\": 5265 },\n  { \"id\": 96, \"otherId\": 5289 },\n  { \"id\": 33, \"otherId\": 5270 },\n  { \"id\": 14, \"otherId\": 5264 },\n  { \"id\": 26, \"otherId\": 5288 },\n  { \"id\": 45, \"otherId\": 5287 },\n  { \"id\": 35, \"otherId\": 5267 },\n  { \"id\": 5, \"otherId\": 5281 },\n  { \"id\": 60, \"otherId\": 5269 },\n  { \"id\": 85, \"otherId\": 4946 },\n  { \"id\": 8, \"otherId\": 4948 },\n  { \"id\": 53, \"otherId\": 5272 },\n  { \"id\": 11, \"otherId\": 5263 },\n  { \"id\": 22, \"otherId\": 5279 },\n  { \"id\": 24, \"otherId\": 5286 },\n  { \"id\": 29, \"otherId\": 5285 },\n  { \"id\": 31, \"otherId\": 5268 },\n  { \"id\": 23, \"otherId\": 5280 },\n  { \"id\": 90, \"otherId\": 5276 },\n  { \"id\": 36, \"otherId\": 4944 },\n  { \"id\": 76, \"otherId\": 5271 },\n  { \"id\": 83, \"otherId\": 5296 },\n  { \"id\": 84, \"otherId\": 5275 },\n  { \"id\": 25, \"otherId\": 5274 },\n  { \"id\": 56, \"otherId\": 4947 },\n  { \"id\": 21, \"otherId\": 4950 },\n  { \"id\": 93, \"otherId\": 5278 },\n  { \"id\": 30, \"otherId\": 4949 },\n  { \"id\": 12, \"otherId\": 5266 },\n  { \"id\": 105, \"otherId\": 5657 },\n  { \"id\": 107, \"otherId\": 5771 },\n  { \"id\": 109, \"otherId\": 5671 },\n  { \"id\": 64, \"otherId\": 5778 },\n  { \"id\": 97, \"otherId\": 5802 },\n    { \"id\": 98, \"otherId\": 5803 },\n  { \"id\": 99, \"otherId\": 5804 },\n  { \"id\": 100, \"otherId\": 5805 },\n  { \"id\": 108, \"otherId\":5773}\n];\n\n// Mapeia unit_id para otherId\nconst unitIdMap = new Map(data.map(item => [item.id.toString(), item.otherId]));\n\n// Armazena os produtos do arquivo de ontem usando EAN + unit_id como chave\nyesterdayFile.split('\\n').slice(1).forEach((line) => {\n    const product = line.split(';');\n    const key = `${product[0]}_${product[1]}`; \n    dataYesterday.set(key, line);\n});\n\n// Percorre os produtos do arquivo de hoje\ntodayFile.split('\\n').slice(1).forEach((line) => {\n    const product = line.split(';');\n    const key = `${product[0]}_${product[1]}`;\n    const existing = dataYesterday.get(key);\n    \n    const unitId = product[1];\n    const otherId = unitIdMap.get(unitId) || null;  // Obtém o otherId correspondente\n\n    if (existing && existing !== line) {\n        differentItems.push({\n            \"store_code\": product[0],\n            \"store_id\": otherId,\n            \"master_code\": product[2]\n        });\n    }\n    if (!existing) {\n        newItems.push({\n            \"store_code\": product[0],\n            \"store_id\": otherId,\n            \"master_code\": product[2]\n        });\n    }\n});\n\nreturn [{ json: { differentItems, newItems } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -320
      ],
      "id": "ce056275-04d3-4f84-861e-752743d56531",
      "name": "Code1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "differentItems",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        -512
      ],
      "id": "eeefccb5-48ae-4565-8a1e-fd928c0b3982",
      "name": "Split Out",
      "executeOnce": true
    },
    {
      "parameters": {
        "batchSize": 1000,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        -512
      ],
      "id": "e6c44363-1a77-4491-a275-6b96e4a6d2e6",
      "name": "Loop Over Items",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const from = \"Rodrigo Novais<rodrigo@zify.com.br>\";\nconst to = [\"rodrigo@zify.com.br\"];\nconst subject = \"Produtos Vinculados (Cresce Vendas)\";\nconst errorMessage = JSON.stringify($input.first().json.error?.message || \"Erro desconhecido\");\n\nconst html = `<p>Erro ao enviar produtos vinculados: ${errorMessage}</p>`;\n\nreturn {\n  from,\n  to,\n  subject,\n  html,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -512
      ],
      "id": "cf2e25a8-cebd-45f5-ac3f-12189232430f",
      "name": "Code2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2pIiDb7zFUsy52Mi",
          "mode": "list",
          "cachedResultName": "Enviar e-mail"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1664,
        -512
      ],
      "id": "042c423d-14c6-4300-867f-29b8ada812df",
      "name": "Enviar E-mail1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cb05228-7863-42a5-b9b2-3b7c9b84931d",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        -512
      ],
      "id": "eba6dc97-3765-4a78-9e95-469bf3fe83a8",
      "name": "If"
    },
    {
      "parameters": {
        "fieldToSplitOut": "newItems",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        560,
        -112
      ],
      "id": "90af769d-e091-4adb-a0c5-98c5479b42c1",
      "name": "Split Out1",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.crescevendas.com/admin/integrations/shop_product_translations/batch_upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-AdminUser-Token",
              "value": "Rmi6UU8W3fL5wKhJG-xK"
            },
            {
              "name": "X-AdminUser-Email",
              "value": "rodrigo@zify.com.br"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $input.all().map((item)=>({\n...item.json\n})) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -256
      ],
      "id": "2bed152f-9fa0-43d3-ba53-8b6c5f4c2df9",
      "name": "HTTP Request1",
      "retryOnFail": false,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 1000,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        -112
      ],
      "id": "fb22691c-1d03-4859-bb50-f488613d6312",
      "name": "Loop Over Items1",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const from = \"Rodrigo Novais<rodrigo@zify.com.br>\";\nconst to = [\"rodrigo@zify.com.br\"];\nconst subject = \"Produtos Vinculados (Cresce Vendas)\";\nconst errorMessage = JSON.stringify($input.first().json.error?.message || \"Erro desconhecido\");\n\nconst html = `<p>Erro ao enviar produtos vinculados: ${errorMessage}</p>`;\n\nreturn {\n  from,\n  to,\n  subject,\n  html,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -256
      ],
      "id": "f9af184d-b9cb-464a-afa0-73d49768d290",
      "name": "Code3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2pIiDb7zFUsy52Mi",
          "mode": "list",
          "cachedResultName": "Enviar e-mail"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1664,
        -176
      ],
      "id": "16d44768-1cd1-40a8-8e8c-6bcbe51a21eb",
      "name": "Enviar E-mail"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cb05228-7863-42a5-b9b2-3b7c9b84931d",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        -256
      ],
      "id": "cdf09239-f784-4e65-888e-27ffaca80591",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.crescevendas.com/admin/integrations/shop_product_translations/batch_upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-AdminUser-Token",
              "value": "Rmi6UU8W3fL5wKhJG-xK"
            },
            {
              "name": "X-AdminUser-Email",
              "value": "rodrigo@zify.com.br"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $input.all().map((item)=>({\n...item.json\n})) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -576
      ],
      "id": "d65a8074-7cac-4201-98ce-0da2dacd30b4",
      "name": "HTTP Request",
      "retryOnFail": false,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "upload",
        "fileName": "=n8n/products_linked/{{ $now.plus(1,'days').format('yyyy-LL-dd') }}.csv",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        352,
        -848
      ],
      "id": "be8a40dd-5f63-448b-b163-1c82641e6d17",
      "name": "S3",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "upload",
        "fileKey": "=n8n/products_linked/{{ $now.minus(0,'days').format('yyyy-LL-dd') }}.csv"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -320,
        -432
      ],
      "id": "10e755fe-339b-4df8-90b8-37847cbec431",
      "name": "S31",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "upload",
        "fileKey": "=n8n/products_linked/{{ $now.plus(1,'days').format('yyyy-LL-dd') }}.csv"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -320,
        -224
      ],
      "id": "b894c2d7-a53e-43fe-b00c-07ab6188d264",
      "name": "S32",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "path": "cb1de857-e3f8-4f0b-9b39-9f6ea04715f8",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "responseData": "={{ {\"result\":\"success\"} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -704,
        -624
      ],
      "id": "5decc804-8804-46c8-abbb-530c0c95efdb",
      "name": "Webhook",
      "webhookId": "cb1de857-e3f8-4f0b-9b39-9f6ea04715f8",
      "credentials": {
        "httpBasicAuth": {
          "id": "dIloHdhJSXNR1WDc",
          "name": "Cris"
        }
      }
    },
    {
      "parameters": {
        "path": "cb1de857-e3f8-4f0b-9b39-9f6ea04715f7",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "responseData": "={{ {\"result\":\"success\"} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -576,
        -960
      ],
      "id": "7ab6acea-9b78-4d66-82ba-eca713485f85",
      "name": "Webhook1",
      "webhookId": "cb1de857-e3f8-4f0b-9b39-9f6ea04715f8",
      "credentials": {
        "httpBasicAuth": {
          "id": "Om3mFSSiK845WPlX",
          "name": "Andrea"
        }
      }
    }
  ],
  "connections": {
    "Converter para CSV1": {
      "main": [
        [
          {
            "node": "S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produtos Vinculados": {
      "main": [
        [
          {
            "node": "Converter para CSV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Buscar Produtos Vinculados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Enviar E-mail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar E-mail1": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Enviar E-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar E-mail": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S31": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S32": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3": {
      "main": [
        [
          {
            "node": "S31",
            "type": "main",
            "index": 0
          },
          {
            "node": "S32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v0",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Sao_Paulo"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "afee62d9-a76f-4428-94ea-8b337063b8f8",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-04-24T13:19:52.814Z",
      "createdAt": "2025-04-24T13:19:52.814Z",
      "role": "workflow:owner",
      "workflowId": "jv1Nb4YLh157EKYf",
      "projectId": "LHTErTtaRYVEdo6Q"
    }
  ],
  "tags": []
}