GenerateUrl-UJTxOpCXk0ZhgnvV.json
{
  "createdAt": "2025-04-07T18:56:50.257Z",
  "updatedAt": "2025-04-25T12:57:20.634Z",
  "id": "UJTxOpCXk0ZhgnvV",
  "name": "GenerateUrl",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "9d388f42-cbc4-4a5f-ae91-a5d8b053e5a3",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4faf02ac-5cb3-44c6-aec5-45dd6b709988",
      "name": "Webhook",
      "webhookId": "9d388f42-cbc4-4a5f-ae91-a5d8b053e5a3",
      "credentials": {
        "httpBasicAuth": {
          "id": "LBXVVD5eF7KWwowg",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dca2ac8d-633d-4a48-838b-119c33ff3a1a",
              "leftValue": "={{ $json.query.unitId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "079aa8f9-039b-4e13-ba89-f7b39221232f",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        100
      ],
      "id": "04812c21-9797-420d-a974-3b3dce5d70b1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from units\ninner join gunits on unit_gunit_id=gunit_id\ninner join users on gunit_user_id=user_id\nwhere unit_id='{{ $json.query.unitId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        580,
        -160
      ],
      "id": "ba62e31d-1f67-4b08-9ae1-64318f97a1a1",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "r6ETUCB3B88HozZb",
          "name": "Main"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"url\":\"http://{{ $json.user_login }}/Application?Type=SALE&Unit={{ $json.unit_code }}&UnitId={{ $json.unit_id }}&DateIni={{$now.minus(1,'days').format('yyyy-MM-dd')}}&DateFin={{$now.format('yyyy-MM-dd')}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        -160
      ],
      "id": "09d9486f-d74a-43d0-a86d-d95a46344e2b",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "67c1d0e0-42d0-42e8-9392-a84272718372",
  "triggerCount": 1,
  "tags": []
}