Liberar (produtos e produtos vinculados)-o7q15PdFJ3bwPwUa.json
{
  "updatedAt": "2025-04-05T01:10:43.650Z",
  "createdAt": "2025-01-07T20:04:34.326Z",
  "id": "o7q15PdFJ3bwPwUa",
  "name": "Liberar (produtos e produtos vinculados)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -140,
        -40
      ],
      "id": "13354918-18be-48f9-aa82-8b4bcdb63c76",
      "name": "Cron 07:00"
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "productslinked",
          "mode": "list",
          "cachedResultName": "productslinked"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "creation_pending",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        320,
        60
      ],
      "id": "102a7d1a-25a5-4711-a6f6-99895f0db50b",
      "name": "Liberar Produtos p/ Vinculação",
      "credentials": {
        "mySql": {
          "id": "vJXa18SJcADLCV1n",
          "name": "Conexus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "productslinked",
          "mode": "list",
          "cachedResultName": "productslinked"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ean_valid",
              "value": "0"
            },
            {
              "column": "prodl_prod_id",
              "value": "1"
            },
            {
              "column": "creation_pending",
              "condition": "IS NULL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        100,
        60
      ],
      "id": "95cd99cc-eb54-4756-b3a1-5c4ec85804dc",
      "name": "Buscar Produtos p/ Vinculação",
      "credentials": {
        "mySql": {
          "id": "vJXa18SJcADLCV1n",
          "name": "Conexus"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "productslinked",
          "mode": "list",
          "cachedResultName": "productslinked"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "ean_valid",
              "value": "1"
            },
            {
              "column": "prodl_prod_id",
              "value": "1"
            },
            {
              "column": "creation_pending",
              "condition": "IS NULL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        100,
        -140
      ],
      "id": "7fabb807-00d3-4d41-b432-14ea43f0569c",
      "name": "Buscar Produtos p/ Cadastro",
      "credentials": {
        "mySql": {
          "id": "vJXa18SJcADLCV1n",
          "name": "Conexus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": {
          "__rl": true,
          "value": "productslinked",
          "mode": "list",
          "cachedResultName": "productslinked"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "id",
        "valueToMatchOn": "={{ $json.id }}",
        "valuesToSend": {
          "values": [
            {
              "column": "creation_pending",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        320,
        -140
      ],
      "id": "d386c454-0673-4fef-876b-b11ade6281de",
      "name": "Atualizar Produtos p/ Cadastro",
      "credentials": {
        "mySql": {
          "id": "vJXa18SJcADLCV1n",
          "name": "Conexus"
        }
      }
    }
  ],
  "connections": {
    "Cron 07:00": {
      "main": [
        [
          {
            "node": "Buscar Produtos p/ Cadastro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Produtos p/ Vinculação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produtos p/ Vinculação": {
      "main": [
        [
          {
            "node": "Liberar Produtos p/ Vinculação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produtos p/ Cadastro": {
      "main": [
        [
          {
            "node": "Atualizar Produtos p/ Cadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Cron 07:00": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "9fb3226e-3519-4b47-a590-4654a1b75a08",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-01-07T20:04:34.326Z",
      "createdAt": "2025-01-07T20:04:34.326Z",
      "role": "workflow:owner",
      "workflowId": "o7q15PdFJ3bwPwUa",
      "projectId": "LHTErTtaRYVEdo6Q"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-04-04T21:03:24.356Z",
      "createdAt": "2025-04-04T21:03:24.356Z",
      "id": "pbUrSOCgI9KocVHT",
      "name": "Gestor"
    }
  ]
}