My workflow 15-wqzy4VR04QlsHOpz.json
{
  "updatedAt": "2025-12-10T15:05:09.333Z",
  "createdAt": "2025-12-10T14:24:09.930Z",
  "id": "wqzy4VR04QlsHOpz",
  "name": "My workflow 15",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eb0e511d-d69c-4c50-b5d3-638d0d7d1c9b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -256
      ],
      "id": "b3700fca-8074-4b31-8792-c34d6ea2b039",
      "name": "Webhook",
      "webhookId": "eb0e511d-d69c-4c50-b5d3-638d0d7d1c9b",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const from = \"Rodrigo Novais<rodrigo@zify.com.br>\";\nconst attachments = [\n    {\n      content: $input.first().binary.file.data,\n      filename: $input.first().binary.file.fileName\n    },\n  ]\n\nreturn {\n  from,\n  to:$input.first().json.body.to,\n  subject:$input.first().json.body.title,\n  html:$input.first().json.body.message.replaceAll(\"\\n\",\"<br/>\"),\n  attachments\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -240
      ],
      "id": "105cee73-ea47-4d0c-be20-571c10d9d710",
      "name": "Code3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2pIiDb7zFUsy52Mi",
          "mode": "list",
          "cachedResultUrl": "/workflow/2pIiDb7zFUsy52Mi",
          "cachedResultName": "Enviar via E-mail"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        176,
        -304
      ],
      "id": "555e985b-cf51-46f3-8108-beb4b6066ebd",
      "name": "Call 'Enviar via E-mail'"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        -240
      ],
      "id": "9549d035-081c-4b30-a2b7-17ae9f535eb7",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Call 'Enviar via E-mail'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Enviar via E-mail'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "47261501-267e-47a5-adb6-be5002152844",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-10T14:24:09.930Z",
      "createdAt": "2025-12-10T14:24:09.930Z",
      "role": "workflow:owner",
      "workflowId": "wqzy4VR04QlsHOpz",
      "projectId": "LHTErTtaRYVEdo6Q"
    }
  ],
  "tags": []
}