My workflow 12-8dm3O1hJ1rfqrswy.json
{
  "createdAt": "2025-08-22T18:20:59.909Z",
  "updatedAt": "2025-08-22T21:01:10.769Z",
  "id": "8dm3O1hJ1rfqrswy",
  "name": "My workflow 12",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1232,
        -192
      ],
      "id": "9a88f0f8-e20f-4c63-8fd5-57321445d4a2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select \np.description,\nb.description as brand,\ns.description as subcategory\nfrom products p\ninner join brands b on b.id=p.prod_brand_id \ninner join subcategories s on p.prod_subcat_id=s.id\nwhere \np.description <>''\ngroup by p.description,b.description,s.description \norder by p.description \nlimit 1000\nOFFSET {{ $json.quantity * 1000 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -784,
        -384
      ],
      "id": "859cd54d-22a8-4ef1-a6ec-e1938e36cbf7",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "vJXa18SJcADLCV1n",
          "name": "Conexus"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -112,
        -416
      ],
      "id": "06ed7c0c-fecd-4fb2-b0a7-ee3ec8747883",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "DdZgdw0R7sfENrv1",
          "name": "vector"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.description }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=brand",
                "value": "={{ $json.brand }}"
              },
              {
                "name": "subcategory",
                "value": "={{ $json.subcategory }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        32,
        -192
      ],
      "id": "59a4b09f-3236-47b4-b347-b927c8303160",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        -192
      ],
      "id": "9bbbe89f-fe23-47af-a4ab-015820b79b41",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "746NrtVty7PbaSTv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1232,
        272
      ],
      "id": "b43a4274-134c-430a-9d43-faad10a2b9d0",
      "name": "When chat message received",
      "webhookId": "a19ec0cd-7ffa-443f-8a35-bcda24f09447"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "utilize a base de conhecimento para responder"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -960,
        272
      ],
      "id": "f066416f-b5c9-4446-b243-177a9447a7c0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1008,
        496
      ],
      "id": "1100e716-061d-4809-9865-b0ef0a38c1e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "746NrtVty7PbaSTv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -880,
        496
      ],
      "id": "7f2bd0ef-53ec-43e7-a350-6c8c267bddbb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        704
      ],
      "id": "e9823c60-1ff1-428c-bb0d-7b1a5d9db9c1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "746NrtVty7PbaSTv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowledge base to answer questions from the user",
        "tableName": "n8n_vectors1",
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -752,
        496
      ],
      "id": "e659efe0-edca-43af-8c24-20512fec25a6",
      "name": "Postgres PGVector Store2",
      "credentials": {
        "postgres": {
          "id": "DdZgdw0R7sfENrv1",
          "name": "vector"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "description",
              "field2": "text"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        -288
      ],
      "id": "dbe04a1a-9fa3-457f-ba8e-00cdb7ffd3f6",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select text from n8n_vectors1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        -192
      ],
      "id": "f36bb111-bcb6-4ca9-9a9e-6d656f587319",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "DdZgdw0R7sfENrv1",
          "name": "vector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const loop = $('Edit Fields').first().json.quantity + 1\n\nreturn {loop}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -176
      ],
      "id": "e0e8f639-e7b3-4234-9185-8957978580ee",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8aa67c9a-130f-40fd-ab31-d9b6c4aa5f02",
              "name": "quantity",
              "value": "={{ $json.loop ?? 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        -192
      ],
      "id": "de1a79e0-28cb-4f0c-8e25-dd747c22ac6c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f82d091-e210-439d-ade2-6037c89cbc38",
              "leftValue": "={{ $json.description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        -288
      ],
      "id": "d90d4098-2235-43fb-81c5-afb2e1305543",
      "name": "If"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "eb17f5e4-9157-49d1-902f-2ca6f514ef91",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-22T18:20:59.909Z",
      "updatedAt": "2025-08-22T18:20:59.909Z",
      "role": "workflow:owner",
      "workflowId": "8dm3O1hJ1rfqrswy",
      "projectId": "LHTErTtaRYVEdo6Q"
    }
  ],
  "tags": []
}