My workflow 10-EkDniG5WuXutgZT4.json
{
  "createdAt": "2025-08-01T01:04:48.534Z",
  "updatedAt": "2025-08-18T11:39:43.733Z",
  "id": "EkDniG5WuXutgZT4",
  "name": "My workflow 10",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "campaigns",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        -40
      ],
      "id": "2b17988f-ec7c-47b7-a139-37f685ea84af",
      "name": "Webhook",
      "webhookId": "6c79b8a9-e0ca-4c14-88df-05b928c96b33",
      "credentials": {
        "jwtAuth": {
          "id": "yCTEedeAq2juXzX5",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "upload",
        "fileKey": "=n8n/{{ $json.query.id }}.csv"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        80,
        -40
      ],
      "id": "3a1de8b8-87dd-400f-9ebb-27cac2b3863a",
      "name": "S31",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n{data:$input.all().map((item)=>item.json)[0].data}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2500,
        -40
      ],
      "id": "c2df7032-0447-4252-ac2d-1dfef39683a3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {
          "enableBOM": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        300,
        -40
      ],
      "id": "d62ea23b-0aea-4afe-bea7-c78201bc5fcd",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const descriptions = []\n\nfor (const item of $input.all()) {\n  descriptions.push(item.json)\n}\n\nreturn {data:descriptions.map(({from,to,...rest})=>{\n  return Object.values(rest)[0]\n})}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -140
      ],
      "id": "2fb6544b-6b71-4e9f-b5e9-497bc79c864a",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        960,
        -140
      ],
      "id": "6d318932-a7d5-413c-8be6-36e61f156e56",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "vJXa18SJcADLCV1n",
          "name": "Conexus"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07ab022f-7342-4bd6-9219-6941daff9372",
              "name": "query",
              "value": "=select p.id,p.ean,p.description,b.id as brand_id,b.description as brand,s.id as subcategory_id,s.description as subcategory,c.id as category_id,c.description as category,sc.id as section_id,sc.description as section from products p\ninner join subcategories s on prod_subcat_id=s.id\ninner join brands b on prod_brand_id=b.id\ninner join categories c on s.subcat_cat_id=c.id\ninner join sections sc on c.cat_sec_id=sc.id\nwhere BINARY p.description in ('{{ $json.data.join(\"','\") }}');",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -140
      ],
      "id": "285a8df4-f763-4923-b0b6-b65022f14bd0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "description",
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1180,
        -40
      ],
      "id": "e70f6447-3993-4c40-98a2-4df111d131eb",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const descriptions = []\n\nfor (const item of $input.all()) {\n  descriptions.push(item.json)\n}\n\nreturn descriptions.map(({from,to,...rest})=>{\n  return {from,to,description:Object.values(rest)[0]}\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        60
      ],
      "id": "bac41859-455d-442c-ae0d-1df5efdc21b4",
      "name": "Code3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaigns",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        320
      ],
      "id": "77ecb819-d841-45ed-a05d-6b56a3be47e4",
      "name": "Webhook2",
      "webhookId": "7206835c-d3c1-40fe-8a76-011b2bdb5e70"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {id:$('cuid').item.json.cuid} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2320,
        280
      ],
      "id": "3c4ca52f-de6c-4388-aeb7-1bb6625555d1",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "path": "offers",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        580
      ],
      "id": "6b855e80-5b94-4e88-8e0a-9003b33af812",
      "name": "Webhook1",
      "webhookId": "6dfc2248-0fda-423f-abe7-ce7622e42553",
      "credentials": {
        "jwtAuth": {
          "id": "yCTEedeAq2juXzX5",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "upload",
        "fileKey": "n8n/database.csv"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        80,
        580
      ],
      "id": "b915246f-db14-44d6-a60e-df8926b028e5",
      "name": "S35",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "enableBOM": true,
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        300,
        580
      ],
      "id": "a74a15f1-4f5c-4c07-8d84-eb43206b0995",
      "name": "Extract from File2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        740,
        580
      ],
      "id": "56341961-8b2b-4cb8-816a-881d60ba6bcc",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "url": "https://function-bun-production-62e9.up.railway.app/api/generate-cuid",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        320
      ],
      "id": "9017cef8-4ca5-412a-a70a-1be97bb835ca",
      "name": "cuid",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        840
      ],
      "id": "f7eb7c4c-04cd-47af-ae7e-5e5d7dfdd163",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const data = {\n  \"id\":\"id\",\n  \"name\":\"name\",\n  \"startDate\": \"startDate\",\n  \"endDate\":\"endDate\"\n}\n\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        840
      ],
      "id": "0f272f4e-d907-40e3-9fab-e70d079091b7",
      "name": "Code5"
    },
    {
      "parameters": {
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        300,
        840
      ],
      "id": "ed13da2b-1fad-4225-afe6-9936ddefa789",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "upload",
        "fileName": "n8n/database.csv",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        520,
        840
      ],
      "id": "17032796-e1a2-4fef-b5c8-44f15a24872b",
      "name": "S34",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Code4').first().json.data\nconst test = {\n    \"name\": $('Webhook2').first().json.body.name,\n    startDate: $('Webhook2').first().json.body.startDate,\n    endDate: $('Webhook2').first().json.body.endDate,\n    type: $('Webhook2').first().json.body.typeId,\n    id: $input.first().json.cuid,\n  units:JSON.stringify($('Webhook2').first().json.body.units),\n  blocks:JSON.stringify($('Webhook2').first().json.body.blocks),\n};\n\ndata.push(test);\n\nreturn data\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        320
      ],
      "id": "de73c4f8-8b84-489e-8c97-6e50a927dc03",
      "name": "Code6"
    },
    {
      "parameters": {
        "jsCode": "const page = Number($(\"Webhook1\").first().json.query.page ?? 1);\nconst data = $input.all().length>0 ? $input.all().filter((item)=>item.json && item.json.name && item.json.name.includes(String($('Webhook1').first().json.query.q).toLocaleUpperCase())) : []\nconst data1 = data.slice(page - 1, page * 10).map((item) => item.json);\n\nreturn {\n  rows: data.length,\n  page,\n  data: data1,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        580
      ],
      "id": "b825acc2-78f3-4892-8af6-59e4ab9a6d36",
      "name": "Code7"
    },
    {
      "parameters": {
        "bucketName": "upload",
        "fileKey": "=n8n/database.csv"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1840,
        -40
      ],
      "id": "39d503da-741e-4ce1-b921-ff2d0ebe388f",
      "name": "S36",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "enableBOM": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2060,
        -40
      ],
      "id": "7a61d85a-0881-4686-9ffc-e16beb74fbdc",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "jsCode": "const test = $input\n  .all()\n  .filter((item) => item.json.id === $(\"Webhook\").first().json.query.id)\n  .map((item) => item.json);\n\nreturn {\n  data: { ...test[0],units:JSON.parse(test[0].units),\n         blocks:JSON.parse(test[0].blocks),products: $(\"Code9\").item.json.data.filter((item)=>item.name) },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        -40
      ],
      "id": "3c416fd8-68f2-478b-a420-cf53a90b45e6",
      "name": "Code8"
    },
    {
      "parameters": {
        "jsCode": "return {data:$input.all().map((item)=>item.json)};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        -40
      ],
      "id": "0a4d710d-46be-4b26-b5a1-e91dddefbf5d",
      "name": "Code9"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "upload",
        "fileName": "n8n/database.csv",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1400,
        320
      ],
      "id": "277392a1-9075-4d4a-bc4b-a95494886eca",
      "name": "S33",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1180,
        320
      ],
      "id": "7a5a92c3-1762-447f-b36d-15b7048b377a",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "jsCode": "const data = $('csv').all();\n\nreturn {data:data.map((item) => item.json).filter((item)=>Object.keys(item).length>0)}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        320
      ],
      "id": "ef5fc914-5cd6-4d50-84ba-2e9ad8dd23be",
      "name": "Code4"
    },
    {
      "parameters": {
        "options": {
          "enableBOM": true,
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        300,
        320
      ],
      "id": "520356d7-12df-42a0-b7a2-535378ef55fc",
      "name": "csv",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "bucketName": "upload",
        "fileKey": "n8n/database.csv"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        80,
        320
      ],
      "id": "e2b8b8b2-1a61-4a11-a349-703957235dbb",
      "name": "S32",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        320
      ],
      "id": "f500a9d5-d98b-410d-8685-952cf82e6b66",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1840,
        260
      ],
      "id": "b23b8434-ec26-4506-bdb0-002b2334235e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "upload",
        "fileName": "=n8n/{{ $('cuid').item.json.cuid }}.csv",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2060,
        260
      ],
      "id": "fd2d2f8a-16c1-4f9c-ac2e-d47c25db2b71",
      "name": "S3",
      "credentials": {
        "s3": {
          "id": "cCGXGEbqFM5KuTWj",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "path": "family",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        1060
      ],
      "id": "cd1fda13-1d48-4e42-959b-9c0b0ea85139",
      "name": "Webhook3",
      "webhookId": "6dfc2248-0fda-423f-abe7-ce7622e42553",
      "credentials": {
        "jwtAuth": {
          "id": "yCTEedeAq2juXzX5",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1020,
        1060
      ],
      "id": "67f2e020-876e-4ba6-9e62-ce80f53c025c",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select f.id,f.name from families f\ninner join family_products fp on fp.family_id=f.id \nwhere product_id='{{ $json.query.id }}'  \ngroup by f.id,f.name",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        140,
        1060
      ],
      "id": "bf6e76c8-0eea-4db7-9f44-d416802afcfc",
      "name": "MySQL1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "vJXa18SJcADLCV1n",
          "name": "Conexus"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  data: $input.all().length>0 ? $input.all().map((item)=>item.json).filter((item)=>item.name) : [],\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        1140
      ],
      "id": "684aa9a0-b5b7-4dfc-9b79-47538630d9aa",
      "name": "Code10"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "S31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S31": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "S32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "S35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S35": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cuid": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "S34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S36": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "S36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S33": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "S33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "cuid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "csv": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S32": {
      "main": [
        [
          {
            "node": "csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hub.govarejo.com",
            "user-agent": "PostmanRuntime/7.45.0",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJzZ2xvZnpxbHNicmpobHA2NnJ1aGFqYXUiLCJhY3Rpb25zIjpbInN4OGgwbXlkajNtN2RhZncyYTE3dm44dyIsIm1wbG9sNTBxNmFnNGZoZmp3cjg4NHFtbiIsInFvenF2a3F1bzY0Z291Y2Y4ZDl5aXBxZyIsInY4cnE1NDRyMnJpbm13d2NzaHEwNmt4ZyIsIm05YWoxenZ3d2doanRjZGZmMmFkM28yNiIsIm8xMTExOW9rNTJmangzbG14ZXc3b3hvMSIsImhtZG4yajF5emczbTBsbXp2NDZ3YXBjNSIsInA5emZnYmo4am0xOHk2N256MGxldnU4OSIsIm9zd2loZmlrZzRpbWJlcjBsYzdpZGxsNiIsInY2ZnZiZmM5dXJ1cTk3N3NpZDI2eHJpaiIsImhnN21zOGF4bnI2bjByZWlocTNjMzVvaCIsInNoanV5MGd5dHpqYXhzZjhrZzIwMDUzcSIsInZ5dGllOWI4M2E4NWV0NTVuOWtxZTN2ciIsInZlOWU0Y3gzNG9lemh1Y3RwYmdzMXhhZCIsImtrNzloaHBidjRjdno3bzRnazE4cmwzdyIsInR0eWtzNTlhbjJ4dDRlOTNqYjl3a3UxaSIsImx3NjIzbXVja2p2ZWFuNmQ5aXVpdm9jdCIsImoyN3d1OXJweG5xNzZsM2t6M2xoYnBwayIsImdjOGk3OHZobmRjYzV2OHVjZnV4dzE5dCIsImRocWpwcmt5dmhzbDc4aGZ0anhuNW4zdCIsInF2ajBxeHdldXFjdHRxY205bXVjcGs3OSIsImZsNmJzZTY2b2Y1YWVrOW53MzJsbmUzcyIsInFpdnI4Mm8zN3ZxcG4zenB6dmNmNHBneSIsInlmc2k5bDJjYnAxaWw4bGJ3ZXM1Zml1eCIsInhzbnU5ZjNieTBxd2F3d2VybzdwNGpnbCIsImpiZHAzZ2plZWFkeW1maXlyODNyMHpoMyIsImE1YjUyampudjh5eWh5dWY1dGttZnYwayIsImVlc3B1dTMyMmkxMHljOWQ3NHpkeTc2eSIsImcyYjhtc2twdmgyMTluNTNydWdxc2J0ZSIsInhzYzFvOThhbmd6Y2plaHhka2h6bnFtNCIsIm00eDN6NDEwcm11ZW1wZG9yaWI5cHNlbyIsImp4bmFkd3M3OHMwbmJzZ2cwZmdoNXJydSIsImJyb3o3dW52OXcwMnB2Zng3MWw3ZDNleCIsImY0MmE5dXd5OGhjMGtuMW1ram9obzA2biIsIm5ra2V2YjBwYXhsM3NlYndyZ2UzM29zbCIsImhvdmVnZmJya3RmbDR3dHczbHVxbnZodSIsImRjbTRpYW54NGU3dmptdGQzeGVjcGVkcCIsInE2Mmw4ODNvd2l0eHdqOWI0aTZqOWVvaCIsInVnbnBrNWd5NTFwb2VwcTIwcXY0M2h2cCIsIm45c285OTJjdWQ2MDd1bmVhYmptaXBxNSIsInF1Mm5iNm05aDVwOHVkbmc1em1lem11MyIsIm9nbzN4bnBjbnVpYzN6M2Nidmg2NW0yNiIsImswejN2MDQ2b2JvaDNpNzdyb2c4MzZjcyIsInRtaGI2dXJpZHl1aHowODQ2MjVzZG03dyIsImp2cmdlM3ZybGtnYjZsczJjMXQ4Z3doOSIsInZvbHNmMXQ5emNmNnBveGl6c3l1MDYxZCIsInp3bnozajBocnZwanlpeXdzMDI2cm5ldSIsInh1NHkwMWFzeGFlcjhpaWVzdnoxazVlYyIsImZ5amd6bmp4aGowZ2V6bnpwcHNqMHhzdSIsImg5NXZsZnA5ajhiZXl3cWNtZ20yeTVvZiIsInBqMWU5N2V5b2hweThiaDJpaTRic3k3MyIsIm93dTRjczA5cml1ZzZrbzAzMzBwZXpibSIsInMxZHcwbjI4ampiYm55cDBpc2F3OWt4OCIsInlkc2Nwb3FldzVpNnU1YndqbWI5ZW51ciIsImRvbTJqYmE1c2UxcmxnenRyZGV5OHY5biIsInZpbXFkOG0zb2RsNWppeXkwejJ1ZmtweSIsImFlYW1rZHR0dmM2dzlybDh4c2I5enY3YSIsInZlZndiYzdvaW9ianFjOGhtem8wa2R0YyIsImE2dWsxcWtxcWl6NGVndDBjNW8xdmFnaSIsImdiZ3F5YWJ6Yml3bzgxcWd2dnE4NnlldiIsImhvZ2NuemxtYzVtYm84MHI5YXdzbTZ1dSIsIm00eHpoMWVibDI1MTBjazYwaXphMnh6YiIsInlmZThjYnh5M3FmMDQ1bGprZmd1dmRzeSIsImkxNXFqMWs3bjg2d205NmgxYWYxMjBlNiIsImNieWxjMWxqeXA4dG55ODdjdXR6NHl0NyIsInNhcWRtNWxyc3plOXZmcWRsZzJ4bHV3dSJdLCJ1bml0cyI6WyIxIiwiMiIsIjMiLCI0IiwiNSIsIjciLCI4IiwiOSIsIjEwIiwiMTEiLCIxMiIsIjEzIiwiMTQiLCIxNSIsIjE2IiwiMjAiLCIyMSIsIjIyIiwiMjMiLCIyNCIsIjI1IiwiMjYiLCIyOCIsIjI5IiwiMzAiLCIzMSIsIjMyIiwiMzMiLCIzNCIsIjM1IiwiMzYiLCIzNyIsIjQ0IiwiNDUiLCI0NiIsIjQ3IiwiNDgiLCI1MCIsIjUxIiwiNTIiLCI1MyIsIjU0IiwiNTUiLCI1NiIsIjU3IiwiNTgiLCI1OSIsIjYwIiwiNjIiLCI2NCIsIjcyIiwiNzMiLCI3NSIsIjc2IiwiNzciLCI3OCIsIjgwIiwiODEiLCI4MiIsIjgzIiwiODQiLCI4NSIsIjg2IiwiODciLCI4OCIsIjg5IiwiOTAiLCI5MSIsIjkyIiwiOTMiLCI5NCIsIjk1IiwiOTYiLCIxMDEiLCIxMDIiLCIxMDQiLCIxMDUiLCIxMDYiLCIxMDciLCIxMDgiLCIxMDkiLCIyMDAiLCIyMDEiLCIyMDIiLCIyMDMiLCI5MDEiXSwiaWF0IjoxNzU1MzczMjc3LCJleHAiOjE3NTU0NTk2Nzd9.BmTB2WAqcYuYiL-DQ0KsVpgEWFxAVYhlSHQFcerQMUw0qvIP9lE5DQb-x3T7wRUGEYY_pg31eNlDa7pRVlc1VLenEIom665De5T0jVsUVe4ITlHQo1e0EWD9HYz1SqH6rnrPVSeWwKRPeBQd7gcm5-jO3aGkjYz2PoWtuiP-H5XIJYuOmRFR5F3rZfmR0yV0ZVWHtQR9vIM9wtvGHoIg6MC2G_B-Euxlh1sAStnXxHUxj6RkYqQhfE8EGClcDZeUWP46LTpFLKO31nhHgeSs3wftFntHf7RjjkA9EmZBkEpOE9oZBSx_tt3bKOeS1UH6LBE4xrdUpA17XixxKfZNZQ",
            "cache-control": "no-cache",
            "postman-token": "c7e5e12e-a281-413d-bd11-4efd57bc9f99",
            "x-forwarded-for": "177.106.76.122",
            "x-forwarded-host": "hub.govarejo.com",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "HLnJwBcTSje_BOpDCx5-qw",
            "x-real-ip": "177.106.76.122",
            "x-request-start": "1755387506932"
          },
          "params": {},
          "query": {
            "id": "brwqchn7hb6h5ynbvi5nl5hg"
          },
          "body": {},
          "webhookUrl": "https://hub.govarejo.com/webhook/campaigns",
          "executionMode": "production",
          "jwtPayload": {
            "sub": "sglofzqlsbrjhlp66ruhajau",
            "actions": [
              "sx8h0mydj3m7dafw2a17vn8w",
              "mplol50q6ag4fhfjwr884qmn",
              "qozqvkquo64goucf8d9yipqg",
              "v8rq544r2rinmwwcshq06kxg",
              "m9aj1zvwwghjtcdff2ad3o26",
              "o11119ok52fjx3lmxew7oxo1",
              "hmdn2j1yzg3m0lmzv46wapc5",
              "p9zfgbj8jm18y67nz0levu89",
              "oswihfikg4imber0lc7idll6",
              "v6fvbfc9uruq977sid26xrij",
              "hg7ms8axnr6n0reihq3c35oh",
              "shjuy0gytzjaxsf8kg20053q",
              "vytie9b83a85et55n9kqe3vr",
              "ve9e4cx34oezhuctpbgs1xad",
              "kk79hhpbv4cvz7o4gk18rl3w",
              "ttyks59an2xt4e93jb9wku1i",
              "lw623muckjvean6d9iuivoct",
              "j27wu9rpxnq76l3kz3lhbppk",
              "gc8i78vhndcc5v8ucfuxw19t",
              "dhqjprkyvhsl78hftjxn5n3t",
              "qvj0qxweuqcttqcm9mucpk79",
              "fl6bse66of5aek9nw32lne3s",
              "qivr82o37vqpn3zpzvcf4pgy",
              "yfsi9l2cbp1il8lbwes5fiux",
              "xsnu9f3by0qwawwero7p4jgl",
              "jbdp3gjeeadymfiyr83r0zh3",
              "a5b52jjnv8yyhyuf5tkmfv0k",
              "eespuu322i10yc9d74zdy76y",
              "g2b8mskpvh219n53rugqsbte",
              "xsc1o98angzcjehxdkhznqm4",
              "m4x3z410rmuempdorib9pseo",
              "jxnadws78s0nbsgg0fgh5rru",
              "broz7unv9w02pvfx71l7d3ex",
              "f42a9uwy8hc0kn1mkjoho06n",
              "nkkevb0paxl3sebwrge33osl",
              "hovegfbrktfl4wtw3luqnvhu",
              "dcm4ianx4e7vjmtd3xecpedp",
              "q62l883owitxwj9b4i6j9eoh",
              "ugnpk5gy51poepq20qv43hvp",
              "n9so992cud607uneabjmipq5",
              "qu2nb6m9h5p8udng5zmezmu3",
              "ogo3xnpcnuic3z3cbvh65m26",
              "k0z3v046oboh3i77rog836cs",
              "tmhb6uridyuhz084625sdm7w",
              "jvrge3vrlkgb6ls2c1t8gwh9",
              "volsf1t9zcf6poxizsyu061d",
              "zwnz3j0hrvpjyiyws026rneu",
              "xu4y01asxaer8iiesvz1k5ec",
              "fyjgznjxhj0geznzppsj0xsu",
              "h95vlfp9j8beywqcmgm2y5of",
              "pj1e97eyohpy8bh2ii4bsy73",
              "owu4cs09riug6ko0330pezbm",
              "s1dw0n28jjbbnyp0isaw9kx8",
              "ydscpoqew5i6u5bwjmb9enur",
              "dom2jba5se1rlgztrdey8v9n",
              "vimqd8m3odl5jiyy0z2ufkpy",
              "aeamkdttvc6w9rl8xsb9zv7a",
              "vefwbc7oiobjqc8hmzo0kdtc",
              "a6uk1qkqqiz4egt0c5o1vagi",
              "gbgqyabzbiwo81qgvvq86yev",
              "hogcnzlmc5mbo80r9awsm6uu",
              "m4xzh1ebl2510ck60iza2xzb",
              "yfe8cbxy3qf045ljkfguvdsy",
              "i15qj1k7n86wm96h1af120e6",
              "cbylc1ljyp8tny87cutz4yt7",
              "saqdm5lrsze9vfqdlg2xluwu"
            ],
            "units": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "28",
              "29",
              "30",
              "31",
              "32",
              "33",
              "34",
              "35",
              "36",
              "37",
              "44",
              "45",
              "46",
              "47",
              "48",
              "50",
              "51",
              "52",
              "53",
              "54",
              "55",
              "56",
              "57",
              "58",
              "59",
              "60",
              "62",
              "64",
              "72",
              "73",
              "75",
              "76",
              "77",
              "78",
              "80",
              "81",
              "82",
              "83",
              "84",
              "85",
              "86",
              "87",
              "88",
              "89",
              "90",
              "91",
              "92",
              "93",
              "94",
              "95",
              "96",
              "101",
              "102",
              "104",
              "105",
              "106",
              "107",
              "108",
              "109",
              "200",
              "201",
              "202",
              "203",
              "901"
            ],
            "iat": 1755373277,
            "exp": 1755459677
          }
        }
      }
    ]
  },
  "versionId": "b472a9b9-15f4-41af-b3e9-cc0b2e7cee07",
  "triggerCount": 4,
  "shared": [
    {
      "createdAt": "2025-08-01T01:04:48.534Z",
      "updatedAt": "2025-08-01T01:04:48.534Z",
      "role": "workflow:owner",
      "workflowId": "EkDniG5WuXutgZT4",
      "projectId": "LHTErTtaRYVEdo6Q"
    }
  ],
  "tags": []
}