My workflow 6-XEjK2DU9E8tGTUP3.json
{
  "updatedAt": "2025-06-22T11:59:53.896Z",
  "createdAt": "2025-06-19T21:09:33.618Z",
  "id": "XEjK2DU9E8tGTUP3",
  "name": "My workflow 6",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        -80
      ],
      "id": "0a5fbc2e-4fce-40ed-bee7-83f6acead44f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cluster_units",
          "mode": "list",
          "cachedResultName": "cluster_units"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.cuid }}",
            "cluster_id": "=ckc2cc0foudunf8fmsklliye",
            "unit_id": "={{ $('Postgres').item.json.unit_id }}",
            "created_at": "={{ new Date() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cluster_id",
              "displayName": "cluster_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_id",
              "displayName": "unit_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        260
      ],
      "id": "00cd8b86-902a-4175-9a33-126681b71db0",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "bJB2Az0HP4yTZASS",
          "name": "Portal v2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://function-bun-production-62e9.up.railway.app/api/generate-cuid",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        300
      ],
      "id": "1d4348c6-c637-4033-aa87-b9c08af5db42",
      "name": "cuid2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cluster_units",
          "mode": "list",
          "cachedResultName": "cluster_units"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "cluster_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -100,
        -280
      ],
      "id": "9af3f4bc-1bac-41e2-be68-d6d4ab17cf98",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "bJB2Az0HP4yTZASS",
          "name": "Portal v2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clusters",
          "mode": "list",
          "cachedResultName": "clusters"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "type_id",
              "value": "j75r45alyyv4fveqbiraod93"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        -280
      ],
      "id": "20b23959-7361-42d5-8937-0520d38b730a",
      "name": "Postgres2",
      "credentials": {
        "postgres": {
          "id": "bJB2Az0HP4yTZASS",
          "name": "Portal v2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7247716c-734f-405d-a488-11659103bb9f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b169f2a6-b9c6-42ad-8e7d-c8aba48ae120",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "94e7879d-9b4d-4bf6-a1e7-b72818a880cf",
              "name": "cluster",
              "value": "={{ $('Postgres2').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        -280
      ],
      "id": "f376a31b-8d53-46b0-8e32-2f8f21c2fb11",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "units",
          "mode": "list",
          "cachedResultName": "units"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.unit_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        120,
        -280
      ],
      "id": "f3747aac-d9b7-4ece-bca6-29994b978a4d",
      "name": "Postgres3",
      "credentials": {
        "postgres": {
          "id": "bJB2Az0HP4yTZASS",
          "name": "Portal v2"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        560,
        -280
      ],
      "id": "de0c0784-bb5f-4006-9988-be707d65ad15",
      "name": "Sort"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        780,
        -280
      ],
      "id": "64ebc5ae-a440-433a-bad1-066c45cf7015",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_active",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -200,
        -140
      ],
      "id": "df96bf40-fcfb-4f9e-88bb-92bcc86ccd6e",
      "name": "Postgres4",
      "credentials": {
        "postgres": {
          "id": "3cA8eJ5zs0paDNWB",
          "name": "Portal"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -180,
        60
      ],
      "id": "8708e316-27b9-4946-a45d-91c98637bdc3",
      "name": "Postgres5",
      "credentials": {
        "postgres": {
          "id": "bJB2Az0HP4yTZASS",
          "name": "Portal v2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "user_email",
              "field2": "email"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        -40
      ],
      "id": "10961ba2-cb75-4cfe-88f4-70b06a746627",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "43c01403-1a55-4db4-99f5-2ef22550b9b5",
              "leftValue": "={{ $json.user_email }}",
              "rightValue": "@govarejo.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "e6eb5143-a521-476e-8926-2146e3a3032b",
              "leftValue": "={{ $json.user_email }}",
              "rightValue": "@api.clube",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "eaab58f0-f8af-424a-96d3-a9c6b738d9b5",
              "leftValue": "={{ $json.user_portal_access }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "5bce713c-3000-4f23-990e-675d6acb148a",
              "leftValue": "={{ $json.user_email }}",
              "rightValue": "@redevalor.com.br",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "dadeba4f-5cb1-45d2-a354-32750df37221",
              "leftValue": "={{ $json.user_email }}",
              "rightValue": "@analytics.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        380,
        -40
      ],
      "id": "87990297-5d16-4a33-bcda-c789d878374a",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f05654e1-bd5b-48e7-9471-5792e3a9656d",
              "name": "email",
              "value": "={{ $json.user_email }}",
              "type": "string"
            },
            {
              "id": "99792811-8253-4976-a1e3-a2a4b42c9dfb",
              "name": "name",
              "value": "={{ $json.user_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -40
      ],
      "id": "2b755f81-11c1-47c4-a51e-62159e7b18df",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cuid2": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "585b7990-23bb-4259-94aa-d6673729dd10",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-06-19T21:09:33.618Z",
      "createdAt": "2025-06-19T21:09:33.618Z",
      "role": "workflow:owner",
      "workflowId": "XEjK2DU9E8tGTUP3",
      "projectId": "LHTErTtaRYVEdo6Q"
    }
  ],
  "tags": []
}